@font-face {
    font-family: bold;
    src: url(font/SuisseIntlCond-Bold.ttf);
}

@font-face {
    font-family: medium;
    src: url(font/SuisseIntlCond-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: medium;
    text-transform: uppercase;

}

html,
body {
    width: 100%;
    background-color: #080014;

}

::selection {
    background-color: aqua;
    color: black;
}

#navbar {
    background-color: #080014;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0vw 2vw;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    color: #bfb9c7;

}

#nav1 {
    margin-right: 3vw;
    display: flex;
    align-items: center;
    gap: 5vw;
}

#nav1 h1 {
    cursor: pointer;
    font-size: 3.5vw;
    transition: 1s ease;
}

#nav1 h1:hover {
    color: #ff00e5;
}

#nav1 span {
    font-size: 1.5vw;
    opacity: .6;
    font-weight: 400;
}

#nav2 {

    display: flex;
    gap: 2vw;
}

#nav2 h3 {
    cursor: pointer;
    font-size: 1.4vw;
    font-weight: 200;
    position: relative;
    transition: 1s ease;
}

#nav2 h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1%;
    background-color: #828184;
    bottom: -2%;
    left: 0;
    transform-origin: left;
    transition: transform 1s ease;
}

#nav2 h3:hover::after {
    transform-origin: right;
    transform: scale(0);
}

#nav2 h3:hover {
    color: #ff00e5;
}

#nav3 {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}

#nav3 button {
    font-size: 1.4vw;
    padding: .5vw 1vw;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    position: relative;
}

#nav3 button::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #541054;
    top: 0;
    left: 0;
    transform-origin: right;
    transform: scalex(0);
    transition: transform 1s ease;
}

#nav3 button:hover::after {
    transform: scalex(1);
    transform-origin: left;
}

#nav3 button:hover {
    color: #ff00e5;
}

#main {
    width: 100%;
}

#page1 {
    padding-top: 6vw;
    width: 100%;
    padding-bottom: 2vw;
    background-color: #080014;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#page1 h1 {
    font-size: 16.5vw;
    line-height: 13.5vw;
    color: #bfb9c7;
    font-family: medium;
    text-align: center;

}

#page1 h3 {
    color: #bfb9c7;
    font-size: 2vw;
}

#page2 {
    width: 100%;
    /* height: 100vh; */
    background-color: #c9c3d1;
    display: flex;
    padding: 4vw 0;

}

.p2box {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.p2box button {
    width: max-content;
    color: #bfb9c7;
    padding: .5vw 1vw;
    font-size: 2vw;
    background-color: #080014;
    border: none;
    position: relative;
    z-index: 2;
    transition: 1s ease;
}

.p2box button::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #541054;
    top: 0;
    left: 0;
    transform-origin: right;
    transform: scalex(0);
    transition: transform 1s ease;
}

.p2box button:hover::after {
    transform: scalex(1);
    transform-origin: left;
}

.p2box button:hover {
    color: #ff00e5;
}

.p2box h2 {
    width: max-content;
    padding: .2vw .5vw;
    border-radius: 20px;
    border: 3px solid #080014;
}

#p2box1 {
    padding-left: 3vw;
}

#p2box1 p {
    font-size: 3vw;
    line-height: 3vw;
    width: 80%;
}

#p2box2 p {
    width: 85%;
    font-size: 4.6vw;
    line-height: 4.4vw;
    font-weight: 500;


}

#page3 {
    width: 100%;
    background-color: #080014;
    color: #c9c3d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vw 0;
}

#page3 h1 {
    font-size: 11vw;
}

#p3cont {
    display: flex;
    gap: 2px;
}

#p3box1 {
    border-left: 2px solid white;
    border-right: 1px solid #858484;
}

#p3box2 {
    border-right: 2px solid white;
}

.p3box {
    width: 40vw;
    padding: 1.5vw 1vw;
    position: relative;
    transition: color 1s ease;

}

.p3box::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #541054;
    top: 0;
    left: 0;
    transform-origin: right;
    transform: scalex(0);
    transition: transform 1s ease;
}

.p3box:hover::after {
    transform: scalex(1);
    transform-origin: left;
}

.p3box:hover {
    color: #ff00e5;
}

.p3box h4 {
    font-size: 1.4vw;
    width: max-content;
    border: 2px solid white;
    padding: .1vw .6vw;
    border-radius: 18px;
    margin-bottom: 1.4vw;
}

.p3box h2 {
    font-size: 4.6vw;
    font-weight: 400;
    line-height: 4.4vw;
    margin-bottom: 14vw;

}

.p3box h3 {
    font-size: 2.9vw;
    letter-spacing: .08vw;
    font-weight: 400;
}

#page4 {
    width: 100%;
    background-color: #080014;
    color: #c9c3d1;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-items: center;
    padding-bottom: 10vw;
}

#page4 h4 {
    font-size: 1.4vw;
    width: max-content;
    border: 2px solid white;
    padding: .2vw .6vw;
    border-radius: 18px;
    font-weight: 400;
}

#page4 hr {
    width: 100%;
}

.p4cont {
    display: flex;

}

.p4box {
    width: 50%;
}

.p4box h1 {
    width: 90%;
    font-size: 7vw;
    line-height: 6vw;
}

#p4box2 .rowbox h3 {
    font-size: 1.4vw;
    width: max-content;
    border: 2px solid white;
    padding: .1vw .6vw;
    border-radius: 18px;
    font-weight: 400;

}

#p4box2 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-left: 1px solid #c9c3d1;
    padding-left: 1vw;
}

#p4box2 .row {
    display: flex;

}

#p4box2 .rowbox {
    width: 50%;

}

#p4box2 .rowbox h2 {
    font-size: 2vw;
    line-height: 2vw;
    font-weight: 400;
    margin-top: 1vw;

}

#footer {
    background-color: #080014;
    display: flex;
    color: #c9c3d1;
    padding: 2.5vw;
    border-top: 2px solid white;
}

.foot {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#foot2 {
    border-left: 1px solid #c9c3d1;
    padding-left: 1vw;
}

.policy {
    /* width: 90%; */
    display: flex;
    align-items: center;
    gap: 8vw;
    color: #828184;

}
#foot2 .policy {
    display: none;

}
.policy h3 {
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: 400;
    position: relative;
    transition: 1s ease;
}

.policy h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1%;
    background-color: #828184;
    bottom: -2%;
    left: 0;
    transform-origin: left;
    transition: transform 1s ease;
}

.policy h3:hover::after {
    transform-origin: right;
    transform: scale(0);
}

.policy h3:hover {
    color: #ff00e5;
}

.foot h1 {
    cursor: pointer;
    font-size: 4.5vw;
    transition: 1s ease;
}

#foot2 h1 {
    cursor: pointer;
    height: calc(100% / 4);
    transition: 1s ease;
    position: relative;
    width: max-content;
}

#foot2 h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1%;
    background-color: #828184;
    bottom: 10%;
    left: 0;
    transform-origin: left;
    transition: transform 1s ease;
}

#foot2 h1:hover::after {
    transform-origin: right;
    transform: scale(0);
}

.foot h1:hover {
    color: #ff00e5;
}

@media (max-width:600px) {


    #navbar {
        padding: 0 5vw;
    }

    #nav1 h1 {
        font-size: 12vw;
    }

    #nav1 span {
        display: none;
    }

    #nav2 {
        display: none;
    }

    #nav3 {
        display: none;
    }

    .menu {
        font-size: 4vw;
        display: initial;
    }

    #page1 {
        padding-top: 19vw;
        height: 100vh;
        justify-content: flex-start;
        gap: 3vw;
    }

    #page1 h1 {
        font-size: 26vw;
        width: 85%;
        line-height: 21.5vw;
    }

    #page1 h3 {
        font-size: 5vw;
        font-weight: 400;
    }

    #page2 {
        flex-direction: column-reverse;
        padding: 4vw 5vw;
        padding-bottom: 16vw;
        gap: 15vw;
    }

    .p2box {
        width: 100%;
        gap: 3vw;
    }

    .p2box button {
        padding: 4vw 0vw;
        font-size: 5vw;
        width: 100%;
    }

    .p2box h2 {
        font-size: 4.5vw;
        font-weight: 400;
        padding: .7vw 2vw;
        border: 2px solid black;
    }

    #p2box1 {
        padding-left: 0vw;

    }

    #p2box1 p {
        font-size: 7.25vw;
        line-height: 8vw;
        width: 100%;
    }

    #p2box2 p {
        width: 100%;
        font-size: 9vw;
        line-height: 9.5vw;
    }

    #page3 {
        width: 100%;
        padding: 15vw 5vw;
        gap: 3vw;
    }

    #page3 h1 {
        font-size: 14vw;
    }

    #p3cont {
        flex-direction: column;
        gap: 6vw;
        padding: 2vw 0;
        border-top: 2px solid white;
        border-bottom: 2px solid white;

    }

    #p3box1 {
        border: none;
        border-bottom: 1px solid grey;
    }

    #p3box2 {
        border: none;
    }

    .p3box {
        width: 100%;
    }


    .p3box h4 {
        font-size: 4vw;
        padding: .6vw 1.7vw;
        margin-bottom: 3vw;
    }

    .p3box h2 {
        font-size: 9.5vw;
        line-height: 9vw;
        margin-bottom: 14vw;

    }

    .p3box h3 {
        font-size: 7vw;
        letter-spacing: .01vw;
        font-weight: 400;
    }


    #page4 {
        width: 100%;
        padding: 0 5vw;
        gap: 3vw;
        align-items: flex-start;
        padding-bottom: 10vw;
    }

    #page4 h4 {
        font-size: 4vw;
        padding: .6vw 2.4vw;
    }

    #page4 hr {
        display: none;
    }

    .p4cont {
        flex-direction: column;
    }

    .p4box {
        width: 100%;
        padding: 5vw 0;

    }

    .p4box h1 {
        width: 90%;
        font-size: 12vw;
        line-height: 11vw;
    }

    #p4box1 {
        border-bottom: 1px solid grey;
    }

    #p4box2 .rowbox h3 {
        font-size: 4vw;
        padding: .3vw 1vw;
    }

    #p4box2 {
        gap: 5vw;
        border-left: none;
    }

    #p4box2 .row {
        display: flex;
        gap: 5vw;
    }

    #p4box2 .rowbox h2 {
        font-size: 5.5vw;
        line-height: 6vw;
        margin-top: 2vw;

    }



    #footer {
        border-top: 2px solid white;
        padding: 2.5vw 5vw;
    }

    #foot2 {
        border-left: none;
    }

    #foot1 .policy {
        display: none;

    }
    #foot2 .policy {
        display: block;
        margin: 5vw 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 2vw;

    }

    .policy h3 {
        font-size: 4vw;
    }


    .foot h1 {
        font-size: 9vw;
    }

}